<link rel="apple-touch-icon" href="{{ '/images/sun.png' | relative_url }}?v=2">
<link rel="icon" type="image/png" sizes="512x512" href="{{ '/images/sun.png' | relative_url }}?v=2">
<link rel="shortcut icon" type="image/png" href="{{ '/images/sun.png' | relative_url }}?v=2">
<link rel="manifest" href="{{ '/images/site.webmanifest' | relative_url }}?v=2">

<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="{{ '/images/sun.png' | relative_url }}?v=2">
<meta name="msapplication-config" content="images/browserconfig.xml?v=M44lzPylqQ">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="assets/css/academicons.css"/>

<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<!-- end custom head snippets -->
