/* Error: expected "{".
 *    ,
 * 13 | @import "vendor/breakpoint/breakpoint"; // media query mixins
 *    |                                       ^
 *    '
 *   assets/css/main.scss 13:39  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 13 \2502  @import "vendor/breakpoint/breakpoint"; // media query mixins\a    \2502                                        ^\a    \2575 \a   assets/css/main.scss 13:39  root stylesheet';
}
