<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="#about-me">Homepage</a></li>
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
        <div class="masthead__update-time" style="position: absolute; right: 0; top: 50%; transform: translateY(-50%); padding-right: 1rem;">
          <span style="font-size: 0.8em; color: #666; font-style: italic;">Update Time: 2026-02-21</span>
        </div>
      </nav>
    </div>
  </div>
</div>

<style>
@media screen and (max-width: 768px) {
  .masthead__update-time {
    display: none;
  }
}
</style>
