<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <!-- Replacing "Homepage" text with avatar logo -->
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item">
            <a href="{{ site.baseurl }}/">
              <img src="{{ site.baseurl }}/images/notion2.png" alt="Home" class="nav-avatar">
            </a>
          </li>
          
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

<style>
/* Style for the avatar in the navigation */
/* Style for the avatar in the navigation */
.nav-avatar {
  height: 32px;
  width: 32px;
  border-radius: 0;
  vertical-align: middle;
  margin-left: 10px; /* 向右移动 */
}

</style>
