---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="zh-home">

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main" class="zh-shell">
      {% if page.author_profile or layout.author_profile %}
        <header class="zh-hero">
          {% include author-profile.html %}
        </header>
      {% endif %}
      {% if page.sidebar %}
        {% include sidebar.html %}
      {% endif %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}
    <footer class="zh-footer">
      <span>© {{ site.author.name }}</span>
      <span>Last updated May 2026</span>
      <span>Made in Tokyo</span>
    </footer>
    <div class="zh-visitor-globe">
      <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=o1E_6U9Iwi61HmDh-PmItDwP1kgCFVsgaSBRyoAJTa4"></script>
    </div>
  </body>
</html>
